.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.page {
    padding: 10px;
    border: 1px solid teal;
}
.active {
    background: teal;
    color: white;
}
